<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>D6BA7141-8DE8-4CF1-A9E0-3137BA56131A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC2F16A4-ECD8-4CD8-9362-4729BFAC1CAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC2F16A4-ECD8-4CD8-9362-4729BFAC1CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>005D090D-2139-4021-9BAE-04511E043259</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NodeJS Workflow Example</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>from node_alfred_workflow import NodeAlfredWorkflow

NodeAlfredWorkflow().run_file('workflow.js', args='{query}'.split(' '))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC2F16A4-ECD8-4CD8-9362-4729BFAC1CAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>nodejs-example-node</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>005D090D-2139-4021-9BAE-04511E043259</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>nodejs-example-python</string>
				<key>subtext</key>
				<string>Run NodeJS code with "python" binary</string>
				<key>text</key>
				<string>NodeJS Python</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6BA7141-8DE8-4CF1-A9E0-3137BA56131A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>005D090D-2139-4021-9BAE-04511E043259</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D6BA7141-8DE8-4CF1-A9E0-3137BA56131A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EC2F16A4-ECD8-4CD8-9362-4729BFAC1CAA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
